* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

.cont {
    background-color: black;
    width: 610px;
    height: 411px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 4px;
    font-size: 65px;
    text-align: center;

}


.box1 {
    background-color: red;
    width: 120px;
    height: 200px;
    margin-top: 4px;
    margin-left: 2px;
}

.box2 {
    background-color: aqua;
    width: 210px;
    height: 100px;
    margin-top: 3px;
}

.box3 {
    background-color: burlywood;
    width: 266px;
    height: 100px;
    margin-top: 3px;
}


.box4 {
    background-color: white;
    width: 120px;
    height: 197px;
    margin-left: 2px;
}

.box5 {
    background-color: burlywood;
    width: 128px;
    height: 150px;
    margin-top: -100px;
}


.box6 {
    background-color: white;
    width: 220px;
    height: 150px;
    margin-top: -100px;
}

.box7 {
    background-color: red;
    width: 122px;
    height: 298px;
    margin-top: -100px;
    margin-left: 2px;

}

.box8 {
    background-color: red;
    width: 220px;
    height: 144px;
    margin-top: -150px;
    margin-left: 126px;
}

.box9 {
    background-color: aqua;
    width: 128px;
    height: 144px;
    margin-top: -150px;
}